# Default ignored files
/java/base/*
/artifacts/&
/shelf/
/out/
/.idea/
*test.java
*Test.java
*.iml
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
